*{
  font-family: 'Playfair Display', serif;    overflow-x: hidden;
}
h2{
  padding:0;
  font-size: 26pt;
  margin: 30px 0 0 0;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  letter-spacing: 4px;
}
/*********************************** M E N U *******************************/
ul.navbar{
    list-style-type: none;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 0;
    align-content: space-between;
    width: 100%;
    background: white;
    z-index: 80;
}
ul.navbar>li{
    display: inline;
    float: left;
    padding: 5px 20px;
    background: white;
  }
  ul.navbar>li>a>img{
    height: 20px;
  }
ul.navbar>li>a{
    display: inline-block;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    color: black;
  }
   /*********************************** DIAPO *******************************/
table.diapo{
  width: 100%;
  display: inline-flex;
  margin: 0 10px;
  overflow-y: hidden;
  background-color: #FFF1E9;
  border-radius: 50px;
}
.diapo tr>td>p{
  padding: 20px;
  color: black;
  font-size: 11pt;
  line-height: 16pt;
}
.diapo h2{
  padding:20px 20px 0 20px;
  vertical-align: bottom;
}
.diapo img{
  object-fit: cover;
  height: 400px;
  width: 400px;
  border-radius: 0 40px 40px 0 ;
  overflow-y: hidden;
}
.icon{
  margin: 0 20px;
  width: fit-content;
  height: 30px;
  border-radius: 20px;
  background-color: rgb(228, 228, 228);
  display: inline-block;
}
.icon>p{
  vertical-align: middle;
  display: inline;
  padding: 5px 20px 5px 5px;
  font-size: 11pt;
}
.icon>img{
  height: 20px;
  vertical-align: middle;
  width: 20px;
  bottom: 0;
  display: inline;
  padding: 5px 0px 5px 15px;

}
  /*********************************** DIAPO CONTAINER *******************************/

.diapoContainer{
  height: 400px;
  padding: 0;
  overflow: hidden;
  width: 80%;
  border-radius: 50px;
  margin: 40px auto;
  display: block;
}
.diapoContainer .diapo:hover{
  animation-play-state: paused;
}
  /*********************************** CADRE *******************************/
  .cadre{
    margin: 10px 15px;
    padding: 10px;
    height: 350px;
    border-radius: 30px;
    background: linear-gradient(#fff, #FFF1E9);
    /* box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);  */
    overflow-y: hidden;
  }
  .cadre h3{
    text-align: left;
    font-size: 18pt;
  }
  .cadre p{
    color: black;
    font-size: 11pt;
    line-height: 16pt;
    height: 65px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
  }
  .cadre img{
    width: 130px;
    height: 130px;
    float: right;
    object-fit: cover;
    border-radius: 20px;
    filter: drop-shadow(10%);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2); 
  }
  .plus>a{
    margin: 10px auto;
    color: #000;
    text-decoration: underline;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 12pt;
    overflow: hidden;
  }
  /*********************************** CATEGORIE *******************************/
  .container1{
  display: flex;
  align-content: space-around;
  margin: 10px auto;
  padding: 0 30px;
  width: 100%;
  overflow: hidden;
}
.container2{
  display: flex;
  align-content: space-around;
  margin: 10px auto;
  padding: 0 30px;
  width: 100%;
  overflow: hidden;
}
.container3{
  display: flex;
  align-content: space-around;
  margin: 10px auto;
  padding: 0 30px;
  width: 100%;
  overflow: hidden;
}
.container4{
  display: flex;
  align-content: space-around;
  margin: 10px auto;
  padding: 0 30px;
  width: 100%;
  overflow: hidden;
}
.autres{
  display: inline-block;
  color: white;
  background-color: black;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 20px;
  width: 150px;
  float: right;
  margin-right: 110px;
  text-align: center;
}
.scroll-item1{
  flex: 0 0 30%;
  max-width: 30%;
}
.scroll-item2{
  flex: 0 0 30%;
  max-width: 30%;
}
.scroll-item3{
  flex: 0 0 30%;
  max-width: 30%;
}
.scroll-item4{
  flex: 0 0 30%;
  max-width: 30%;
}
button.scroll1{
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
  border: 0,5px;
  margin: 0 auto;
  position: sticky;
  padding: 10px;
  width: 100px;
}
button.scroll1:hover{
  background-color: #FFF1E9;

}
button.scroll2{
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
  border: 0,5px;
  margin: 0 auto;
  position: sticky;
  padding: 10px;
  width: 100px;
}
button.scroll2:hover{
  background-color: #FFF1E9;

}button.scroll3{
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
  border: 0,5px;
  margin: 0 auto;
  position: sticky;
  padding: 10px;
  width: 100px;
}
button.scroll3:hover{
  background-color: #FFF1E9;

}
button.scroll4{
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
  border: 0,5px;
  margin: 0 auto;
  position: sticky;
  padding: 10px;
  width: 100px;
}
button.scroll4:hover{
  background-color: #FFF1E9;

}
  /*********************************** FOOTER *******************************/
.footer{
  margin: 0 60px;
}
.footer>ul{
    list-style-type: none;
    width: 100%;
    padding: 0;
    align-content: space-between;
    width: 100%;
    background: white;
}
.footer>ul>li{
  display: inline;
    float: left;
    padding: 5px 20px;
    background: white;
}
.footer>ul>li>a{
  display: inline-block;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    color: black;
}
.footer>ul>li>a>img{
  margin: 0 40px 0 0;
  height: 20px;
}
.footer p{
  color: #707070;
  font-size: 10pt;
  text-align: left;
  padding: 0;
  margin: 0 0 0 20px;
}
.footer>div{
  float: right;
}
.footer>div img{
  padding: 10px;
  margin: 0 10px 0 0 ;
  height: 20px;
}
.footer hr{
  opacity: 0.7;
  margin: 0 auto;
  margin: 10px 0;
}
  /*********************************** PAGE CATEGORIE *******************************/
div.recettes{
  display: grid;
  grid-template-columns: 350px 350px 350px;
  column-gap: 50px;
  margin: 0 40px;
}
/*************************************** FILTER *************************************/
 .Sort{
  margin:0 70px;
  float: right;
 }
 .Sort>select{
  background-color: #fff;
  display: inline-block;
  margin: 0 10px;
  padding: 5px 10px;
  border: black 2px solid;
  border-radius: 20px;
 }
 form.Sort>input[name='trier']{
  display: inline-block;
  margin: 0 5px;
  padding: 5px 20px;
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
 }
 form.Sort>input[name='trier']:hover{
  background-color: #FFF1E9;
 }
 .Sort>p{
  display: inline-block;
  margin: 0 20px;
 }

/************************************* PAGE RECETTE *********************************/
.details{
  display: block;
  margin: 0 80px;
}
.details>div{
  display: inline-block;
  padding: 0 20px;
  text-align: center;
}
.infos-container{
  margin: 0 60px;
  display: grid;
  grid-template-columns: 60% 35%;
  column-gap: 50px;

}
.infos{
  background-color: #FFF1E9;
  border-radius: 40px;
  float: right;
  display: block;
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.infos>div>p{
  display: inline-block;
  padding: 0 10px;
  margin: 9px 30px;
  color: #707070;
}
.infos>div>p+p{
  float: right;
  color: black;
}
.infos>div>hr{
  margin: 0 auto;
  padding: 0;
  opacity: 0.6;
  width: 80%;
}
input[type=checkbox]{
  margin: 10px;
  width: 20px;
  height: 20px;
  border-radius: 40px;
}
input[type=checkbox]:checked{
  color: #707070;
  text-decoration: line-through;
}
.image{
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 40px;
}
div.recette_det{
  margin:0 20px;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 100px;
}
.recipe>h2{
  margin: 20px 40px;
}
.recette_det~hr{
  width: 90%;
  margin: 20px;
}
.recette>h2{
  margin: 30px 0 0 90px;
}
p.video{
  margin: 10px 40px;
}
iframe{
  width: 70%;
  border-radius: 20px;
}
/******************************* HEALTHY *************************************/
.healthy{
  margin: 40px;
}
.healthy>input{
  margin: 10px auto;
  padding: 5px 10px;
  width: 250px;
  border-radius: 15px;
}
.healthy>input[type='submit']{
  cursor: pointer;
  background-color: white;
  padding: 10px 20px;
  width: max-content;
}
.healthy>input[type='submit']:hover{
  background-color: #FFF1E9;
}
/********************************** IDEES ***********************************/
.idees_form{
  margin: 50px;

}
.idees_form>center>input[type='text']{
  padding: 10px;
  margin: 20px;
  width: 400px;
  border-radius: 10px;
}
.idees_form>center>p{
  margin: 0 20px;
  text-transform: uppercase;
  color: #707070;
  font-size: 11pt;

}
.idees_form>center>input[type='submit']{
  margin: 30px auto;
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14pt;

}
.idees_form>input[type='checkbox']{
  color: black;
  cursor: pointer;
  margin: 20px;
}
#inputGroup{
  background-color: #fff;
    display: block;
    margin: 20px;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding :10px 20px;
    width: 100%;
    border-radius: 20px;
  }
#inputGroup>*{
  display: inline-block;
  color: #3C454C;
}
#inputGroup>input{
      cursor: pointer;
      padding: 10px;
      border: 10px;
}
#liste_ingred{
  display: grid;
  grid-template-columns: 25% 25% 25%;
  column-gap: 100px;
  list-style-type:none;
}
/*********************************** LOGIN ***********************************/
.login_container{
  display: grid;
  grid-template-columns: 40% 40%;
  column-gap: 100px;
  margin:60px 20px;
}
.login_container>div{
  width: 100%;
}
.login_container>div>form{
  margin: 40px 60px;
}
.login_container>div>form>input{
  margin: 10px 10px;
  background: white;
  border-radius: 20px;
  height: 25px;
  padding: 10px 20px;
  width: 300px;
}
.login_container>div>form>select{
  margin: 10px 10px;
  background: white;
  border-radius: 20px;
  height: 40px;
  padding: 10px 20px;
  width: 300px;
}
.login_container>div>form>label{
  margin: 0 10px;
  font-size: 10pt;
}
.login_container>div>form>center>input[type='submit']{
  background-color: black;
  color: #fff;
  cursor: pointer;
  width: 200px;
  height: 50px;
  font-size: 12pt;
  margin: 40px 50px;
  border-radius: 20px;
}
.login_img>img{
  border-radius: 40px;
  margin: 20px 60px 0 0;
  object-fit: cover;
  height: 360px;
}
.login_img>p{
  margin: 0 0px 0 90px;
}
.login_img>p>a{
  color: black;
  font-weight: bold;
}
/******************************* GESTION DES UTILISATEURS **************************************/
.admintable{
  width: 90%;
}
.admintable a{
  color: #000;
}
#home{
  position: fixed;
  top: 0%;
  left: 0%;
  margin: 30px 90px;
  background-color: white;
  border-radius: 30px;
  height: 45px;
  width:45px;
  overflow: hidden;
}
#home>img{
  height: 50px;
  width: 50px;
}
.admintable tr:nth-child(2n+1){
  background-color: #FFF1E9;
}
.admintable tr:nth-child(2n){
  background-color: #FFF8F4;
}
.admintable td, th{
  padding: 10px;
  border: none;
  overflow: hidden;
  border-radius: 4px;
}
input[name='ajouteruser']{
  float: right;
  border: none;
  border-radius: 30px;
  height: 40px;
  width: 40px;
  background-color: #ff7f35;
  color: white;
  font-size: 20pt;
  font-weight: bolder;
  margin: 50px 70px 0px 30px;
  cursor: pointer;
}
td>center>input[name='valid']{
  background-color: transparent;
  color: #000;
  border: 1px #000 solid;
  padding: 5px 10px;
  border-radius: 10px;
  width:30px;
}
form>center>input[name='validerUser']{
  background-color: transparent;
  color: #000;
  border: 1px #000 solid;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}
form>center>input[name='supprimerUser']{
  background-color: transparent;
  color: #000;
  border: 1px #000 solid;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}
/******************************* GESTION DES NEWS **************************************/
.addNews{
  border-radius: 10px;
  margin-top: 50px;
  background-color: #fff;
  padding: 20px;
  display: none;
  position: fixed;
  left: 45%;
  top: 5%;
  transform: translate(-45%, 5%);
  border-radius: 30px;
  z-index: 100;
  backdrop-filter: blur(3px);  
  filter: drop-shadow(1px 1px 1px #666);
  overflow-y: scroll;
  height: 300px;
}
.addNews>*{
  margin: 10px 0;
  padding: 5px 10px;
  border-radius: 10px;
  margin-left: 0;
  width: 200px;
}
.addNews label{
  display: inline-block;
  float: left;
  clear: left;
  width: 150px;
  text-align: left;
}
input[name='desc_news']{
  height: 80px;
  width: 200px;
}
.addNews>input[type='submit']{
  width: 130px;
  background-color: #000;
  cursor: pointer;
  display: inline-block;
  color: #FFF1E9;
}
.addNews>input[type='submit']:hover{
  background-color: #FFF1E9;
  color: #000;
}
.add-popup{
  position: relative;
  text-align: center;
}
.form-popup{
  display: none;
  position: fixed;
  left: 45%;
  top: 5%;
  transform: translate(-45%, 5%);
  border-radius: 30px;
  z-index: 100;
}
#form_container{
  backdrop-filter: blur(3px);  
  height: 1800px;
  width: 1800px;
  position: fixed;
  top: 0%;
  z-index: 90;
}
#modif-popup{
  position: fixed;
  padding: 20px;
  background-color: #fff;
  border-radius: 30px;
  z-index: 9;
  margin: 70px 420px;
  filter: drop-shadow(1px 1px 1px #666);
}
#modif-popup>input[type='submit']{
  width: 130px;
  background-color: #000;
  cursor: pointer;
  display: inline-block;
  color: #FFF1E9;
}
#modif-popup>*{
  margin: 10px 0;
  padding: 5px 10px;
  border-radius: 10px;
  margin-left: 0;
  width: 200px;
}
#myInput{
  display: inline-block;
  margin: 0 80px;
  padding: 5px 20px;
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
}
#exit{
  font-family: monospace;
  border: none;
  background-color: rgb(180, 28, 28);
  border-radius: 30px;
  color: white;
  font-size: 18pt;
  font-weight: bolder;
  padding: 5px;
  vertical-align: middle;
  float: right;
  height: 35px;
  width: 35px;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
}
form>center>input[name='supprimerNews']{
  background-color: transparent;
  color: #000;
  border: 1px #000 solid;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}
form>center>input[name='modifierNews']{
  background-color: transparent;
  color: #000;
  border: 1px #000 solid;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}
/************************** GESTION DES RECETTES ********************************/
.addRecette{
  margin-top: 10px;
  background-color: #fff;
  padding: 20px;
  display: none;
  position: fixed;
  left: 45%;
  top: 1%;
  height: 450px;
  width: fit-content;
  overflow-y: scroll;
  transform: translate(-45%, 5%);
  border-radius: 30px;
  z-index: 100;
  filter: drop-shadow(1px 1px 1px #666);
}
form>center>input[name='validerRecette']{
  background-color: transparent;
  color: #000;
  border: 1px #000 solid;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}
form>center>input[name='supprimerRecette']{
  background-color: transparent;
  color: #000;
  border: 1px #000 solid;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}
form>center>input[name='modifierRecette']{
  background-color: transparent;
  color: #000;
  border: 1px #000 solid;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}
.addRecette>*{
  margin: 7px 0;
  padding: 5px 10px;
  border-radius: 10px;
  margin-left: 0;
  width: 200px;
}
.addRecette>label{
  display: inline-block;
  float: left;
  clear: left;
  width: 190px;
  text-align: left;
}
.addRecette>input[type='submit']{
  width: 130px;
  background-color: #000;
  cursor: pointer;
  display: inline-block;
  color: #FFF1E9;
  float: right;
}
.addRecette>input[type='select']{
  margin: 10px 10px;
  background: white;
  border-radius: 20px;
  height: 40px;
  padding: 10px 20px;
  width: 300px;
}
.addRecette>input[type='submit']:hover{
  background-color: #FFF1E9;
  color: #000;
}
#etapes{
  padding: 0;
  margin: 0;
}
#etapes>tbody>tr>td>input{
  background: transparent;
  border: #000 solid;
  border-radius: 10px;
  padding: 5px 10px;
}
#etapes>tbody>tr>td>input[type='text']{
  width: 200px;
}
#ingreds>li{
  display: none;
}
#check-ingred{
  background-color: #fff;
    display: block;
    margin: 10px;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width: 160px;
    border-radius: 20px;
    padding: 5px 10px;
  }
#check-ingred>*{
  display: inline-block;
  color: #3C454C;
  font-size: 11pt;
}
#check-ingred>input{
      cursor: pointer;
}

/************************************** GESTION NUTRITION *********************************************/
.addNutrition{
  margin-top: 10px;
  background-color: #fff;
  padding: 20px;
  display: none;
  position: fixed;
  left: 45%;
  top: 1%;
  bottom: 20%;
  transform: translate(-45%, 5%);
  border-radius: 30px;
  z-index: 9;
  backdrop-filter: blur(3px);  
  filter: drop-shadow(1px 1px 1px #666);
  overflow-y: scroll;
  
}
.addNutrition>*{
  margin: 7px 0;
  padding: 5px 10px;
  border-radius: 10px;
  margin-left: 0;
  width: 200px;
}
.addNutrition label{
  display: inline-block;
  float: left;
  clear: left;
  width: 150px;
  text-align: left;
}
.addNutrition>input[type='submit']{
  width: 130px;
  background-color: #000;
  cursor: pointer;
  display: inline-block;
  color: #FFF1E9;
  float: right;
  margin: 20px 0;
}
.addNutrition>input[type='select']{
  margin: 10px 0;
  background: white;
  border-radius: 20px;
  height: 40px;
  padding: 10px 20px;
  width: 200px;
}
.addNutrition>input[type='submit']:hover{
  background-color: #FFF1E9;
  color: #000;
}
form>center>input[name='valider']{
  background-color: transparent;
  color: #000;
  border: 1px #000 solid;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}
form>center>input[name='supprimer']{
  background-color: transparent;
  color: #000;
  border: 1px #000 solid;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}
form>center>input[name='modifier']{
  background-color: transparent;
  color: #000;
  border: solid #000 1px;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}
#popupModifier{
  position: fixed;
  padding: 20px;
  background-color: #fff;
  border-radius: 30px;
  overflow-y: scroll;
  z-index: 9;
  height: 400px;
  margin: 90px 420px;
  filter: drop-shadow(1px 1px 1px #666);
}
#popupModifier>label{
  width: 170px;
  display: inline-block;
  margin: 0;
  padding: 0px;
}
#popupModifier>input[type='submit']{
  width: 130px;
  background-color: #000;
  cursor: pointer;
  display: inline-block;
  color: #FFF1E9;
}
#popupModifier>*{
  margin: 10px 0;
  padding: 5px 10px;
  border-radius: 10px;
  margin-left: 0;
}
/************************************* PRINCIPALE ***********************************/
.principale{
  display: grid;
  margin: 0 50px;
  grid-template-columns: 350px 350px 350px;
  column-gap: 50px;
}
.principale>div{
  margin: 10px 0;
  border-radius: 40px;
  width: 250px;
  padding: 30px;
}
.principale>div:hover{
  background-color: #fff6f1;
}
.principale>div>a{
  width: 100%;
  text-decoration: none;
  color: #000;
}
.principale>div>a>img{
  height: 100px;
  width: 100px;
}
.principale>div>form>input{
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 14pt;
  font-weight: bold;
  color: #000;
  margin-top: 20px;
  cursor: pointer;
}
.principale>div>form>img{
  height: 100px;
  width: 100px;
}
/******************************** PROFILE *******************************/
.profile{
  margin: 100px;
  width: 90%;
}
.profile img{
  height: 100px;
  width: 100px;
  border-radius: 70px;
  padding: 20px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3); 
  overflow: hidden;
}
.profile h3{
  width: 250px;
  margin: 10px 0;
}
.profile label{
  margin: 0 5px;
  width: 140px;
  display: inline-block;
}
.profile>tbody>tr>td>input, .profile>tbody>tr>td>form>input, .profile>tbody>tr>td>a>input{
  background-color: transparent;
  border: #000 solid;
  border-radius: 20px;
  padding: 5px 10px;
  margin:10px;
  width: 250px;
  display: inline-block;
  text-align: start;
  cursor: pointer;
}
.profile>tbody>tr>td{
  padding: 0 20px;
}

.actions>input:hover, .actions>form>input:hover, .profile>tbody>tr>td>a>input:hover{
  background-color: #FFF1E9;

}
/************************** PARAMETRES *****************************/
.parametres{
  display: grid;
  margin: 100px;
  grid-template-columns: 500px 500px;
  column-gap: 50px;
}
.parametres>center>div{
  margin: 10px 0;
  border-radius: 40px;
  width: 350px;
  padding: 30px;
}
.parametres>center>div:hover{
  background-color: #fff6f1;
}
.parametres>center>div>a{
  width: 100%;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
.parametres>center>div>a>img{
  height: 180px;
  width: 180px;
}
.parametres>center>div>form>input{
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 14pt;
  font-weight: bold;
  color: #000;
  margin-top: 20px;
  cursor: pointer;
}
.principale>div>form>img{
  height: 100px;
  width: 100px;
}
#titres>li{
  display: none;
}
#check-titre{
  background-color: #fff;
    display: block;
    margin: 10px;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width: 160px;
    border-radius: 20px;
    padding: 5px 10px;
  }
#check-titre>*{
  display: inline-block;
  color: #3C454C;
  font-size: 11pt;
}
#check-titre>input{
      cursor: pointer;
}
#unchecked{
  display: none;
}
.favoris{
  float: right;
  display: block;

}
.favoris input{
  background-color: transparent;
  border-radius: 20px;
  padding: 5px 10px;
  border: 1px solid #f85f5f;
  color: #f85f5f;
  cursor: pointer;
  font-size: 12pt;
}
.defavoris{
  float: right;
}
.defavoris input{
  background-color: #f85f5f;
  border-radius: 20px;
  padding: 5px 10px;
  border: #fff;
  color: #ffffff;
  cursor: pointer;
  font-size: 12pt;
}